{% extends '__base__.html' %}
{% block title %}写博客{% endblock %}
{% block content %}
<div class="col-md-8">
	<form method="POST" action="/createblog">
		<div class="form-group">
			<label class="uk-form-label">标题：</label>
			<input type="text" class="form-control" id="name" name="name" placeholder="标题">
		</div>
		<div class="form-group">
			<label class="uk-form-label">内容：</label>
			<div  class="uk-form-controls uk-htmleditor">
						<textarea rows="16" id="content" name="content" placeholder="内容" class="form-control" style="resize:none;"></textarea>
	    </div>
		</div>
		<div class="form-group">
			<label class="uk-form-label">关键字：</label>
			<input type="text" class="form-control" id="keywords" name="keywords" placeholder="关键字">
		</div>
		<div class="form-group">
			<label class="uk-form-label">分类：</label>
			<div class="form-group"> 
				{% for tag in tags %}
				<input type="checkbox" id={{ tag.en_name }}, name={{ tag.en_name }}>
				<label >{{ tag.name }}</label>
				{% endfor %}
			</div>
		</div>
		<div class="form-group">
			<input type="submit" value="提交" class="uk-button">
		</div>
	</form>
</div>
{% endblock %}